*{
    background-color:  aliceblue;
}

.App-logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 7%;
}

.header-events{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(10, 10, 104);
    margin-left: 20px;
    margin-bottom: 30px;
}

.events-iot{
  display: block;
  margin-left: 20px;
  margin-right: auto;
  width: 20%;
}


